.goods {
  border: 1px solid #E4E4E4;
  width: 1150px;
  margin-top: 20px;
  margin-left: -156px;
}

.goods-sort {
  width: 1100px;
  border-top: none;
  margin-left: 25px;
  border: 1px solid #E4E4E4;
  height: 70px;
  text-align: left;
  line-height: 70px;
  font-size: 19px;
}

.goods-sort a {
  text-decoration: none;
  color: #666;
  margin-right: 20px;
}

.goods-wrapper {
  width: 1100px;
  margin-left: 25px;
  border: 1px solid #E4E4E4;
  margin-top: 20px;
}

.goods-wrapper-example {
  width: 1100px;
  height: 250px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
}

.goods-wrapper-example-img {
  width: 350px;
  height: 200px;
}

.goods-wrapper-example-img img {
  width: 100%;
  height: 100%;
}

.goods-wrapper-example-content {
  margin-left: 20px;
  width: 724px;
}

.goods-wrapper-example-content .el-rate {
  display: inline-block;
}

.goods-wrapper-example-content .el-rate .el-rate__icon {
  font-size: 12px;
}

.goods-wrapper-example-content .juli {
  font-size: 12px;
  margin-right: 10px;
}

.goods-wrapper-example-content .s-item-comment-total {
  color: #f90;
}

.goods-wrapper-example-content-tab {
  font-size: 12px;
  color: #666;
  margin-right: 5px;
}

.goods-wrapper-example-content-add {
  color: #666;
  margin-right: 17px;
}

.goods-wrapper-example-content .map {
  text-decoration: none;
  color: orange;
}

.goods-wrapper-example-content-last {
  padding: 0;
}

.goods-wrapper-example-content-last li {
  list-style: none;
}

.goods-wrapper-example-content-last li a {
  text-decoration: none;
  font-size: 20px;
  color: #F40;
}

.goods-wrapper-example-content-last li span {
  font-size: 20px;
  color: #666;
}

.goods-wrapper-example-content-last li .price {
  font-size: 17px;
  color: #F40;
  margin-right: 17px;
}

.goods-wrapper-example-content-last li .currentPrice {
  font-size: 12px;
  margin-right: 17px;
}

.goods-wrapper-example-content-last li .saleNum {
  font-size: 12px;
}
