.goods {
  border: 1px solid #E4E4E4;
  width: 1150px;
  margin-top: 20px;
  margin-left: -156px;

  &-sort {
    width: 1100px;
    border-top: none;
    margin-left: 25px;
    border: 1px solid #E4E4E4;
    height: 70px;
    text-align: left;
    line-height: 70px;
    font-size: 19px;

    a {
      text-decoration: none;
      color: #666;
      margin-right: 20px;
    }
  }

  &-wrapper {
    width: 1100px;
    margin-left: 25px;
    border: 1px solid #E4E4E4;
    margin-top: 20px;


    &-example {
      width: 1100px;
      height: 250px;
      border-bottom: 1px solid #E4E4E4;
      display: flex;

      &-img {
        // border: 1px solid;
        width: 350px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-content {
        // border: 1px solid;
        margin-left: 20px;
        width: 724px;

        .el-rate {
          display: inline-block;

          .el-rate__icon {
            font-size: 12px;
          }
        }

        .juli {
          font-size: 12px;
          margin-right: 10px;
        }


        .s-item-comment-total {
          color: #f90;
        }

        &-tab {
          font-size: 12px;
          color: #666;
          margin-right: 5px;
        }

        &-add {
          color: #666;
          margin-right: 17px;
        }

        .map {
          text-decoration: none;
          color: orange;
        }

        &-last{
            padding: 0;
            li {
              list-style: none;

              a {
                text-decoration: none;
                font-size: 20px;
                color: #F40;
              }

              span {
                font-size: 20px;
                color: #666;
              }

              .price {
                font-size: 17px;
                color: #F40;
                margin-right: 17px;
              }

              .currentPrice{
                  font-size: 12px;
                  margin-right: 17px;
              }

              .saleNum{
                  font-size: 12px;
              }
            }
        }
      }
    }
  }
}