.love {
  border: 1px solid #E4E4E4;
  width: 320px;
  margin-left: 20px;
}

.love-contain {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
}

.love-contain img {
  width: 290px;
  height: 180px;
}

.love-contain-title {
  margin-top: 10px;
  color: #000;
  display: inline-block;
  width: 300px;
}

.love-contain-address {
  width: 300px;
  display: inline-block;
}

.love-contain-price {
  font-size: 30px;
  color: #F40;
}

.love .el-rate {
  display: inline-block;
}

.love .el-rate .el-rate__icon {
  font-size: 12px;
}

.love .s-item-comment-total {
  color: #666;
}
