.m-product-select {
  padding-bottom: 5px;
  min-width: 120px;
}

.m-product-select .tab {
  position: relative;
}

.m-product-select .tab dt {
  font-size: 14px;
  line-height: 24px;
  margin-top: -10px;
  text-align: left;
  font-size: 16px;
}

.m-product-select .tab dt.select-title {
  color: #ccc;
  font-size: 20px;
}

.m-product-select .tab dd {
  display: none;
  top: 24px;
  width: 510px;
  background: #fff;
  position: absolute;
  cursor: auto;
  user-select: text;
  white-space: normal;
  font-size: 12px;
  text-align: left;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 19px 15px 9px;
}

.m-product-select .tab dd:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent transparent #E5E5E5;
  border-style: solid;
  border-width: 5px;
  top: -11px;
}

.m-product-select .tab dd:after {
  content: ' ';
  position: absolute;
  top: -8px;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 4px;
}

.m-product-select .tab dd span {
  display: inline-block;
  min-width: 120px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 10px;
}

.m-product-select .tab dd h3 {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 11px;
}

.m-product-select .tab:hover dd {
  display: block;
  z-index: 999;
}
