.bigPic-wrapper {
  margin-top: 20px;
}

.bigPic-wrapper-container {
  width: 126%;
  margin-left: -155px;
  height: 400px;
  position: relative;
}

.bigPic-wrapper-container-one {
  background: blue;
  width: 450px;
  height: 400px;
}

.bigPic-wrapper-container-one img {
  width: 450px;
  height: 350px;
}

.bigPic-wrapper-container-one span {
  position: absolute;
  left: 180px;
  top: 360px;
  font-size: 22px;
  font-weight: 600;
}

.bigPic-wrapper-container-two {
  margin-top: -400px;
  background: blue;
  width: 450px;
  height: 400px;
  margin-left: 500px;
}

.bigPic-wrapper-container-two img {
  width: 450px;
  height: 350px;
}

.bigPic-wrapper-container-two span {
  position: absolute;
  left: 180px;
  top: 360px;
  font-size: 22px;
  font-weight: 600;
  margin-left: 500px;
}

.bigPic-wrapper-container-three {
  margin-left: 1000px;
  margin-top: -400px;
  height: 400px;
}

.bigPic-wrapper-container-three-first {
  list-style: none;
  width: 220px;
  height: 200px;
  margin-left: -40px;
  margin-top: -16px;
  text-align: center;
  background: url("http://img.qipeiren.com/qipeiren/images/map_new_panel_1_hn.png") no-repeat center center;
}

.bigPic-wrapper-container-three-first:hover {
  background-color: #2ed658;
  cursor: pointer;
}

.bigPic-wrapper-container-three-first:hover label {
  color: #2ed658;
}

.bigPic-wrapper-container-three-first a {
  text-decoration: none;
  font-size: 22px;
  line-height: 200px;
}

.bigPic-wrapper-container-three-first a span {
  font-weight: 600px;
  color: #2ed658;
}

.bigPic-wrapper-container-three-first a label {
  color: #000;
}

.bigPic-wrapper-container-three-second {
  list-style: none;
  width: 220px;
  height: 200px;
  margin-left: 220px;
  margin-top: -202px;
  text-align: center;
  background: url("http://img.qipeiren.com/qipeiren/images/map_new_panel_1_gd.png") no-repeat center center;
}

.bigPic-wrapper-container-three-second:hover {
  background-color: #cb80e2;
  cursor: pointer;
}

.bigPic-wrapper-container-three-second:hover label {
  color: #cb80e2;
}

.bigPic-wrapper-container-three-second a {
  text-decoration: none;
  font-size: 22px;
  line-height: 200px;
}

.bigPic-wrapper-container-three-second a span {
  font-weight: 600px;
  color: #cb80e2;
}

.bigPic-wrapper-container-three-second a label {
  color: #000;
}

.bigPic-wrapper-container-three-third {
  list-style: none;
  width: 220px;
  height: 200px;
  margin-left: -40px;
  margin-top: -10px;
  text-align: center;
  background: url("http://img.qipeiren.com/qipeiren/images/map_new_panel_1_sd.png") no-repeat center center;
}

.bigPic-wrapper-container-three-third:hover {
  background-color: #6fbaec;
  cursor: pointer;
}

.bigPic-wrapper-container-three-third:hover label {
  color: #6fbaec;
}

.bigPic-wrapper-container-three-third a {
  text-decoration: none;
  font-size: 22px;
  line-height: 200px;
}

.bigPic-wrapper-container-three-third a span {
  font-weight: 600px;
  color: #6fbaec;
}

.bigPic-wrapper-container-three-third a label {
  color: #000;
}

.bigPic-wrapper-container-three-forth {
  list-style: none;
  width: 220px;
  height: 200px;
  margin-left: 220px;
  margin-top: -202px;
  text-align: center;
  background: url("http://img.qipeiren.com/qipeiren/images/map_new_panel_1_js.png") no-repeat center center;
}

.bigPic-wrapper-container-three-forth:hover {
  background-color: #ec6fb4;
  cursor: pointer;
}

.bigPic-wrapper-container-three-forth:hover label {
  color: #ec6fb4;
}

.bigPic-wrapper-container-three-forth a {
  text-decoration: none;
  font-size: 22px;
  line-height: 200px;
}

.bigPic-wrapper-container-three-forth a span {
  font-weight: 600px;
  color: #ec6fb4;
}

.bigPic-wrapper-container-three-forth a label {
  color: #000;
}
