.mark {
  width: 1500px;
  margin-left: -155px;
  height: 325px;
}

.mark-container {
  width: 1500px;
  height: 300px;
  margin-top: 25px;
}

.mark-container-title {
  border: 1px solid #ddd;
  width: 250px;
  height: 300px;
  margin: 0;
  float: left;
  cursor: pointer;
}

.mark-container-title dt {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

.mark-container-title ul {
  display: none;
}

.mark-container-title .carPic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #eee;
  margin-top: 45px;
  margin-left: 17px;
}

.mark-container-title .special {
  display: none;
}

.mark-container-title.active {
  float: left;
  width: 488px;
  height: 300px;
  margin: 0;
  background: #F5F5F5;
}

.mark-container-title.active dt {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
}

.mark-container-title.active ul {
  display: inline-block;
  width: 270px;
  position: absolute;
  padding: 0;
  margin-bottom: 0;
  margin-left: -22px;
}

.mark-container-title.active ul li {
  list-style: none;
  width: 130px;
  height: 40px;
  line-height: 40px;
  float: left;
  flex-wrap: wrap;
}

.mark-container-title.active ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.mark-container-title.active ul li a:hover {
  color: #F60;
}

.mark-container-title.active .carPic {
  float: left;
  position: absolute;
  margin-left: 280px;
  background: #F5F5F5;
  width: 150px;
  height: 150px;
}

.mark-container-title.active .carPic img {
  width: 100%;
  height: 100%;
}

.mark-container-title.active .special {
  display: inline-block;
  border: 1px solid #666;
  width: 135px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  margin-top: 206px;
}

.mark-container-title.active .special:hover {
  color: #F60;
  border: 1px solid #F60;
}
