.m-menu {
    width: 240px;
    height: 600px;
    transform: translateX(-65%);
    //  background-color: #ddd;
     display: inline-block;
   
    
    ul {
      // border: 1px solid black;
      width: 240px;
      height: 400px;
      margin-top: 0px;
      padding-left: 0px;
      float: left;
      border-left: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      border-bottom: 1px solid #E4E4E4;
      background: #dad8d8;
      li {
        line-height: 40px;
        height: 40px;
        list-style: none;

    &:hover{
        background-color: #fff;
        border-top: 1px solid #F9f9f9;
        border-bottom: 1px solid #F9f9f9;
        color: blue;
    }
    }

    a {
        margin-left: 15px;
      font-size: 16px;
      text-align: left;
      color: #444;
      text-decoration: none;
      
    }

    img {
      position: absolute;
      right: 15px;
      margin-top: 5px;
      color: #333;
      cursor: pointer;
     
    }
    }

    &-down{
        width: 240px;
        height: 175px;
        // border: 1px solid red;
        position: absolute;
        bottom: 0;
        
        img{
            width:100%;
            height: 100%;
        }
    }

    

    &-detail{
        width: 800px;
        height: 400px;
        margin-left: 240px;
        position: relative;
        z-index: 9999;
        &-item-item1{
            width: 800px;
            height: 400px;
            position: absolute;

            &-left {
              width: 750px;
              height: 400px;
              position: absolute;

              &-list {
                width: 730px;
                height: 380px;
                margin: auto;
                margin-top: 8px;

                &-title {
                  width: 730px;
                  height: 40px;
                  border-bottom: 1px solid #1A8CFF;

                  label {
                    color: #444;
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 40px;
                    padding-bottom: 4px;
                    border-bottom: 3px solid #1A8CFF;
                  }
                }

                &-content {
                  width: 730px;
                  height: 340px;
                  position: absolute;

                  dl {
                    width: 730px;
                    height: 70px;
                    margin: 0;
                    box-sizing: border-box;
                    border-bottom: 1px solid #ddd;

                    dt {
                      width: 130px;
                      height: 70px;


                      a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        display: inline-block;
                        margin-top: 10px;
                        margin-left: 10px;
                        color: #000;

                        &:hover {
                          color: #F60;
                          cursor: pointer;
                        }
                      }

                      img {
                        margin-top: 5px;
                        float: right;
                        cursor: pointer;
                      }
                    }

                    dd {
                      width: 600px;
                      height: 70px;
                      margin-top: -72px;
                      float: left;
                      overflow: hidden;
                      margin-left: 130px;

                      p {
                        float: left;
                        margin: 0px;
                        padding-top: 10px;

                        label {
                          margin: 0 5px;
                          color: rgb(175, 174, 174);

                        }

                        a {
                          margin-right: 5px;
                          text-decoration: none;
                          color: #000;

                          &:hover {
                            color: #F60;
                            cursor: pointer;
                          }
                        }
                      }

                    }

                  }
                }
              }

              &-dl {
                width: 738px;
                height: 380px;
                margin: auto;
                margin-top: -340px;
                float: left;

                dd {
                  float: left;
                  text-align: left;
                  padding: 10px 30px 0px 10px;
                  white-space: nowrap;
                  overflow: hidden;
                  margin: 0;


                  a {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                      color: #F60;
                      cursor: pointer;
                    }
                  }
                }
              }
            }

            &-close{
                width: 50px;
                height: 400px;
                float: right;
                // background: orange;

                &-right{
                    width: 40px;
                    height: 40px;
                    background-color: rgba($color: #d6d4d4, $alpha: 0.5);
                    &:hover{
                        background-color: rgba($color: #d6d4d4, $alpha:1);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        opacity: 0.5;
                           
                        &:hover{
                            opacity: 1;
                        }
                    }
                   
                }

            }
        }
    }
}
   