.smallPic{
   width: 126%;
   height: 120px;
   margin-left: -160px;
//    border:1px solid black;
   a{
    width: 180px;
    margin-right: 20px;
    margin-left: 10px;
    height: 100%;
    img{
            width: 200px;
    height: 100%;
    }
   }

}