.category {
  border: 1px solid #E4E4E4;
  width: 1500px;
  height: 1875px;
  margin-left: -156px;
  border-top: none;
}

.category-pinyin {
  line-height: 88px;
  font-size: 20px;
  width: 1450px;
  height: 88px;
  margin: 0;
  margin-left: 25px;
  display: flex;
}

.category-pinyin dd {
  margin-left: 35px;
}

.category-pinyin dd a {
  text-decoration: none;
  color: #666;
}

.category-char {
  display: flex;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.category-char dt {
  background: greenyellow;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.category-char dt span {
  display: inline-block;
  margin-top: 14px;
  font-size: 23px;
}

.category-char dd {
  padding: 20px;
  overflow: hidden;
}

.category-char dd a {
  text-decoration: none;
  color: #666;
}
