.province {
  width: 1500px;
  border: 1px solid #E4E4E4;
  height: 100px;
  margin-left: -156px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;

  &-wrapper {
    width: 1450px;
    border-bottom: 1px solid #E4E4E4;
    text-align: left;
    height: 100px;
    line-height: 100px;
    margin-left: 25px;

    span {
      display: inline-block;
      font-size: 20px;
    }
  }
  .search{
      margin-left:20px;
  }
}